ol{
  padding-left: 50px;
  padding-bottom: 10px;
  list-style-type: decimal;
  font-family: Helvetica, Arial, sans-serif;
}

html{
  padding-left: 5px;
  background-color: #ecb68a;
  color: black;
}

h1{
  font-size: 200%;
  padding-bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h2{
  font-size: 75%;
  padding-bottom: 10px;
  font-family: "Courier New", monospace;
}

p{
  padding-bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

footer{
  padding-bottom: 10px;
}
