ol{
  padding-left: 50px;
  padding-bottom: 10px;
  list-style-type: decimal;
}

html{
  padding-left: 5px;
}

h1{
  font-size: 200%;
  padding-bottom: 10px;
}

h2{
  font-size: 75%;
  padding-bottom: 10px;
}

p{
  padding-bottom: 10px;
}

footer{
  padding-bottom: 10px;
}
